<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head>
        <title>Records</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="../css/style.css">
    </head>
    <body>
        <div class="btn-group">
            <button>Records</button>
            <button>Appointments</button>
            <button style = "border-bottom: 5px solid rgb(0, 17, 255);">Accounts</button>
            <button>Logs</button>
        </div>
        <div class="expand view">
            <p class = "records" no>Accounts 1  <button class= "edit">View/Edit</button></p>
            <p class = "records" no>Accounts 2  <button class= "edit">View/Edit</button></p>
            <p class = "records" no>Accounts 3  <button class= "edit">View/Edit</button></p>
            <p class = "records" no>Accounts 4  <button class= "edit">View/Edit</button></p>
            <p class = "records" no>Accounts 5  <button class= "edit">View/Edit</button></p>
            <p class = "records" no>Accounts 6  <button class= "edit">View/Edit</button></p>
            <p class = "records" no>Accounts 7  <button class= "edit">View/Edit</button></p>
            <p class = "records" no>Accounts 8  <button class= "edit">View/Edit</button></p>
            <p class = "records" no>Accounts 9  <button class= "edit">View/Edit</button></p>
            <p class = "records" no>Accounts 10  <button class= "edit">View/Edit</button></p>
            <p class = "records" no>Accounts 11  <button class= "edit">View/Edit</button></p>
            <p class = "records" no>Accounts 12  <button class= "edit">View/Edit</button></p>
            <p class = "records" no>Accounts 13  <button class= "edit">View/Edit</button></p>
      </div>
      <button id = "new">+ New Account</button>
    </body>
</html>
