<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head>
        <title>SCC363</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <script src="../static/PasswordValidator.js"></script>
        <form action="#" th:action="@{/add}" th:object="${user}" method="POST">
            <p>Add customer</p>

            <div>
                <label for="userName">Username</label>
                <input name="userName" th:field="*{username}" id="userName" placeholder="Username">
                <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>
            </div>
            <div>
                <label for="email">Email address</label>
                <input name="email" th:field="*{email}" id="email" placeholder="example@example.com">
                <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
            </div>
            <div>
                <label for="password">Password</label>
                <input name="password" th:field="*{password}" id="password" onkeyup="evaluatePassword(this)">
                <div id="score"></div>
                <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
            </div>
            <div>
                <select id="userType" th:field="*{userType}" name="userType">
                    <option value="SYSADMIN">Sysadmin</option>
                    <option value="DOCTOR">Doctor</option>
                    <option value="NURSE">Nurse</option>
                    <option value="PATIENT">Patient</option>
                    <option value="REGULATOR">Regulator</option>
                    <option value="MEDADMIN">Medical Admin</option>
                </select>
            </div>
            <div>
                <button id="submit">Add user</button>
            </div>
        </form>



        <form action="/listusers" method="GET">
            <button>List users</button>
        </form>
    </body>
</html>
