<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <title>SCC363</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="style.css">
</head>
<body>

<form action="#" th:action="@{/add}" th:object="${user}" method="POST">
    <br>
        <div>
            <label for="first">First name</label>
            <input name="first" th:field="*{first}" id="first" placeholder="First name" type = "text" >
            <span th:if="${#fields.hasErrors('first')}" th:errors="*{first}"></span>
        </div>
        <div>
            <label for="last">Last name</label>
            <input name="last" th:field="*{last}" id="last" placeholder="Last name"  type = "text" >
            <span th:if="${#fields.hasErrors('last')}" th:errors="*{last}"></span>
        </div>

    <div>
        <label for="userName">Username</label>
        <input name="userName" th:field="*{username}" id="userName" placeholder="Username" type = "text" >
        <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>
    </div>
    <div>
        <label for="email">Email address</label>
        <input name="email" th:field="*{email}" id="email" placeholder="example@example.com" type = "text">
        <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
    </div>
    <div>
        <label for="password">Password</label>
        <input name="password" th:field="*{password}" id="password" placeholder="Password" type = "text">
        <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
    </div>

    <br>
    <br>

    <div>
        <select id="userType" th:field="*{userType}" name="userType">
            <option value="SYSADMIN">Sysadmin</option>
            <option value="DOCTOR">Doctor</option>
            <option value="NURSE">Nurse</option>
            <option value="PATIENT">Patient</option>
            <option value="REGULATOR">Regulator</option>
            <option value="MEDADMIN">Medical Admin</option>
        </select>
    </div>
    <br>
    <br>

    <div>
        <button>Add user</button>
    </div>
    <br>
    <br>
    Already a member?<a href="/login">Log in </a>
    <br>
    <br>
</form>



<!--<form action="/listusers" method="GET">-->
<!--    <button>List users</button>-->
<!--</form>-->
</body>
</html>
