<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head>
        <title>Appointments</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="../css/style.css">
    </head>
    <body>
        <div class="btn-group">
            <button>Records</button>
            <button style = "border-bottom: 5px solid rgb(0, 17, 255);">Appointments</button>
            <button>Accounts</button>
            <button>Logs</button>
        </div>
        <div class="expand view">
            <p class = "records" no>Appointments 1  <button class= "edit">View/Edit</button></p>
            <p class = "records" no>Appointments 2  <button class= "edit">View/Edit</button></p>
            <p class = "records" no>Appointments 3  <button class= "edit">View/Edit</button></p>
            <p class = "records" no>Appointments 4  <button class= "edit">View/Edit</button></p>
            <p class = "records" no>Appointments 5  <button class= "edit">View/Edit</button></p>
            <p class = "records" no>Appointments 6  <button class= "edit">View/Edit</button></p>
            <p class = "records" no>Appointments 7  <button class= "edit">View/Edit</button></p>
            <p class = "records" no>Appointments 8  <button class= "edit">View/Edit</button></p>
            <p class = "records" no>Appointments 9  <button class= "edit">View/Edit</button></p>
            <p class = "records" no>Appointments 10  <button class= "edit">View/Edit</button></p>
            <p class = "records" no>Appointments 11  <button class= "edit">View/Edit</button></p>
            <p class = "records" no>Appointments 12  <button class= "edit">View/Edit</button></p>
            <p class = "records" no>Appointments 13  <button class= "edit">View/Edit</button></p>
      </div>
      <button id = "new">+ New Appointments</button>
    </body>
</html>
