<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head>
        <title>Appointments</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="../css/style.css">
    </head>
    <body>
        <div class="expand editPage">
            <div style = "margin-left: 35%; margin-top: 7%;">
                <p id="text">Name:</p>
                <input></input>
                <p id="text">Date:</p>
                <input type="date"></input>
                <p id="text">Reason:</p>
                <textarea rows="15" cols="50"></textarea>
            </div>
            
            <button id = "save" style="  margin-left: 70%; margin-top: 10%;">Book</button>
            <button id = "delete">Delete</button>
            <button id = "cancel">Cancel/Back</button>
        </div>
    </body>
</html>
