<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head>
        <title>Records</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="../css/style.css">
    </head>
    <body>
        <div class="btn-group">
            <button style = "border-bottom: 5px solid rgb(0, 17, 255);">Home</button>
            <button onclick="window.location.href='/records'">Records</button>
            <button onclick="window.location.href='/accounts'">Accounts</button>
            <button onclick="window.location.href='/logslist'">Logs/Admin</button>
        </div>
        <div class="expand view">
            <p id="text">Hello!</p>

            <button id="save" th:value="${username}" onclick="window.location.assign(`http://localhost:8080/updateUser/?username=` + this.value);">Update my details</button>
            <button id="logout" onclick="window.location.assign('http://localhost:8080/exit');">Logout</button>
      </div>
    </body>
</html>
