<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head>
        <title>Records</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="../css/style.css">
    </head>
    <body>
        <div class="btn-group">
            <button style = "border-bottom: 5px solid rgb(0, 17, 255);">Home</button>
            <button onclick="window.location.href='/records'">Records</button>
            <button onclick="window.location.href='/accounts'">Accounts</button>
            <button onclick="window.location.href='/logs'">Logs</button>
        </div>
        <div class="expand view">
            <p id="text">HELLO</p>
            <form action="/addPermittedUser" method="GET">
                <button>Add user</button>
            </form>
            <form th:action="@{/logout}" method="post">
                <input type="submit" value="Sign Out"/>
            </form>
      </div>
      <button id = "new" >+ New Account</button>
    </body>
</html>
