<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head>
        <title>Logs</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="../css/style.css">
    </head>
    <body>
        <div class="btn-group">
            <button>Records</button>
            <button>Appointments</button>
            <button>Accounts</button>
            <button style = "border-bottom: 5px solid rgb(0, 17, 255);">Logs</button>
        </div>
        <div class="expand log">
            <textarea rows="40" cols="150" readonly style="margin-top: 10%; margin-left: 45%;">
                GMT 01-01-2021 12:20:30 Here is a log
                GMT 01-01-2021 12:20:30 Here is a log
                GMT 01-01-2021 12:20:30 Here is a log
                GMT 01-01-2021 12:20:30 Here is a log
                GMT 01-01-2021 12:20:30 Here is a log
                GMT 01-01-2021 12:20:30 Here is a log
                GMT 01-01-2021 12:20:30 Here is a log
                GMT 01-01-2021 12:20:30 Here is a log
                GMT 01-01-2021 12:20:30 Here is a log
                GMT 01-01-2021 12:20:30 Here is a log
                GMT 01-01-2021 12:20:30 Here is a log
                GMT 01-01-2021 12:20:30 Here is a log
                GMT 01-01-2021 12:20:30 Here is a log
                GMT 01-01-2021 12:20:30 Here is a log
                GMT 01-01-2021 12:20:30 Here is a log
            </textarea> 
      </div>
    </body>
</html>
