<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head>
        <title>Records</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="../css/style.css">
    </head>
    <body>
        <div class="expand editPage">
            <div style = "margin-left: 1%; margin-top: 1%;">
                <p id= "text"> Medical ID:</p>
                <input type="text" id="medid" th:placeholder="${patient.medicalID}"/>
                <p id= "text"> First Name:</p>
                <input type="text" id="firstname" th:placeholder="${patient.firstName}"/>
                <p id= "text"> Last Name:</p>
                <input type="text" id="lastname" th:placeholder="${patient.lastName}"/>
                <p id= "text"> Last Name:</p>
                <input type="text" id="dateOfBirth" th:placeholder="${patient.dateOfBirth}"/>
                <p id= "text"> Last Name:</p>
                <input type="text" id="phoneNumber" th:placeholder="${patient.phoneNumber}"/>
                <p id= "text"> Last Name:</p>
                <input type="text" id="address" th:placeholder="${patient.address}"/>
                <p id= "text"> Last Name:</p>
                <input type="text" id="height" th:placeholder="${patient.height}"/>
                <p id= "text"> Last Name:</p>
                <input type="text" id="weight" th:placeholder="${patient.weight}"/>
                <p id= "text"> Last Name:</p>
                <input type="text" id="doctor" th:placeholder="${patient.doctor}"/>
                <button id = "save">Save</button>
                <button id = "delete">Delete</button>
                <button id = "cancel">Cancel/Back</button><br>
            </div>
        </div>
    </body>
</html>
