<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head>
        <title>Records</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="../css/style.css">
    </head>
    <body>
        <div class="btn-group">
            <button style = "border-bottom: 5px solid rgb(0, 17, 255);">Records</button>
            <button>Appointments</button>
            <button>Accounts</button>
            <button>Logs</button>
        </div>
        <div class="expand view">
              <p class = "records" no>Dummy 1  <button class= "edit">View/Edit</button></p>
              <p class = "records" no>Dummy 2  <button class= "edit">View/Edit</button></p>
              <p class = "records" no>Dummy 3  <button class= "edit">View/Edit</button></p>
              <p class = "records" no>Dummy 4  <button class= "edit">View/Edit</button></p>
              <p class = "records" no>Dummy 5  <button class= "edit">View/Edit</button></p>
              <p class = "records" no>Dummy 6  <button class= "edit">View/Edit</button></p>
              <p class = "records" no>Dummy 7  <button class= "edit">View/Edit</button></p>
              <p class = "records" no>Dummy 8  <button class= "edit">View/Edit</button></p>
              <p class = "records" no>Dummy 9  <button class= "edit">View/Edit</button></p>
              <p class = "records" no>Dummy 10  <button class= "edit">View/Edit</button></p>
              <p class = "records" no>Dummy 11  <button class= "edit">View/Edit</button></p>
              <p class = "records" no>Dummy 12  <button class= "edit">View/Edit</button></p>
              <p class = "records" no>Dummy 13  <button class= "edit">View/Edit</button></p>
        </div>
        <button id = "new">+ New Record</button><button id = "ac" style="color: yellow;">Acess Control</button>
    </body>
</html>
