<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head>
        <title>Records</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <div class="expand">
            <div class="btn-group mainMenu">
                <button style = "border-bottom: 5px solid rgb(0, 17, 255);">Records</button>
                <button>Appointments</button>
                <button>Accounts</button>
                <button>Logs</button>
              </div>
        </div>
    </body>
</html>
