<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head>
        <title>Records</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="../css/style.css">
    </head>
    <body>
        <div class="expand editPage">
            <div style = "margin-left: 1%; margin-top: 1%;">
                <p id= "text"> Patient Name:</p>
                <textarea id = "recordName" rows="1" cols="136">Dummy name goes here.</textarea>
                <p id= "text"> Record:</p>
                <textarea id="editArea" rows="35" cols="136">Dummy records goes here.</textarea>
                <button id = "save">Save</button>
                <button id = "delete">Delete</button>
                <button id = "cancel">Cancel/Back</button><br>
            </div>
        </div>
    </body>
</html>
