<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Register_Login</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>

        <form th:action="@{/signin}" method="POST">

            <div class="container">

                <div th:if="${param.error}">
                    Invalid username and password.
                </div>
                <br>
                <br>
                <br>
                <label class = "name" >Hygeia Hospital</label>
                <br>
                <br>
                <br>
                <label >Username : </label>
                <input type="text" placeholder="Enter Username" name="username" required>
                <br>
                <br>
                <label >Password : </label>
                <input type="password" placeholder="Enter Password" name="password" required>
                <br>
                <br>

                <button id = "submit">Sign in</button>
                <br>
                <br>
                <a href="#">Forgot password? </a>
                <br>
                <br>
                <a href="/register"> New client </a>
                <br>
                <br>
            </div>
        </form>
    </body>
</html>