<!DOCTYPE html>
<html>
    <head>
        <title>Register_Login</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <script src="js/Services.js"></script>
    </head>
    <body>


            <div class="container">

                <br>
                <br>
                <br>
                <label class = "name" >Hygeia Hospital</label>
                <br>
                <br>
                <br>
                <label >Username : </label>
                <input type="text" id="username" placeholder="Enter Username" name="username" required>
                <br>
                <br>
                <label >Password : </label>
                <input type="password" id="password" placeholder="Enter Password" name="password" required>
                <br>
                <br>
                <button onclick="login(document.getElementById('username').value, document.getElementById('password').value)">Sign in</button>
                <br>
                <br>
                <a href="#">Forgot password? </a>
                <br>
                <br>
                <a href="/register"> New client </a>
                <br>
                <br>
            </div>
    </body>
</html>