<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<p th:text="${patient.medicalID}"></p>
<p th:text="${patient.firstName} ${patient.lastName}"></p>
<p th:text="${patient.dateOfBirth}"></p>
<p th:text="${patientAge}"></p>
<p th:text="${patient.phoneNumber}"></p>
<p th:text="${patient.address}"></p>
<p th:text="${patient.height}"></p>
<p th:text="${patient.weight}"></p>
<p th:text="${patient.doctor}"></p>


</body>
</html>